<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head}"></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container text-center">
    <br/>
    <br/>
    <br/>
    <div class="row text-start">
        <div class="col-3">
            <a th:href="@{/ui/pages}" class="btn btn-dark"> Pages</a>
        </div>
        <div class="col-9">
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead class="table-header">
            <tr>
                <th> Name</th>
                <th> Url</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${links.empty}">
                <td colspan="2"> No Links Available</td>
            </tr>
            <tr th:each="link : ${links}">
                <td><span th:text="${link.name}"> Title </span></td>
                <td><span th:text="${link.url}"> Author </span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</body>
</html>