<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container">
    <br/>
    <br/>
    <div class="row">
        <form action="#" th:action="@{/ui/pages/submit}" th:object="${urlForm}" method="post">
            <div class="mb-3">
                <input th:field="*{link}" type="text" class="form-control" id="pageUrl" placeholder="url"
                       aria-describedby="urlHelp">
                <div id="urlHelp" class="form-text">Please enter a new url.</div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Name</th>
                <th> Total links</th>
                <th> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${pages.empty}">
                <td colspan="2"> No Pages Available</td>
            </tr>
            <tr th:each="page : ${pages}">
                <td><span th:text="${page.name}"> Name </span></td>
                <td><span th:text="${page.numberOfLinks}"> Url </span></td>
                <td><a th:href="@{/ui/links/page/{id}(id = ${page.id})}" class="btn btn-primary"> view</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>
</body>
</html>